@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Purchase Order Management</h2>
<div class="center-element center-text">
    <table class="button-columns">
        <tr>
            <td><input type="button" value="Create New PO" class="main-menu-button"
                onclick="location.href='@Url.Action("CreateNewPO","PurchaseOrder")'" /></td>
            <td><input type="button" value="Search for PO" class="main-menu-button"
                onclick="location.href='@Url.Action("SearchPO","PurchaseOrder")'" /></td>
        </tr>
    </table>
</div>